.badge{
  margin-right: 5px;
}
.tags-sort{
  margin-bottom:2rem;
}
.tags-sort span{
  cursor: pointer;
}
.post-item {
  position: relative;
}
.post-item .delete-post, .post-item > div{
  position: absolute;
  display: block;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
