<div class="tags-sort">
  <h5>Sort by tags: </h5>
  <span (click)="sortByTags(tag)"*ngFor="let tag of tags" [class.badge-primary]="tag.isClicked=='yes'" [class.badge-info]="tag.isClicked=='no'" class="badge" >{{tag.tag}}</span>
</div>

<div class="list-group">
  <div class="post-item" *ngFor="let post of posts">
    <a (click)="setPostItem(post)" [routerLink]="['post-entry', post.title]" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <small>{{post.date}}</small>
        </div>
        <p class="mb-1" [innerHTML]="post.description"></p>
        <p class="mb-1">Tags: <span *ngFor="let tag of post['tags']" class="badge badge-primary">{{tag}}</span> </p>
    </a>
    <div class="delete-post">
        <button type="button" (click)="setDelete(post)" data-toggle="modal" data-target="#deleteModal" title="Delete" class="btn btn-danger" aria-hidden="true">Delete</button>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure ?
      </div>
      <div class="modal-footer">
        <button #closeBtn (click)="unsetDelete()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (click)="deletePost()" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
