<header class="header d-flex justify-content-between">
<h3 class="text-muted">Angular Blog App with MongoDB</h3>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item">
                  <a class="btn btn-primary" role="button" [routerLink]="['/home']">Blog List</a>
            </li>
            <li class="nav-item">
                  <a href="#" class="btn btn-primary" role="button">Add Post</a>
            </li>
        </ul>
    </nav>
</header>

<main role="main">
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <p>&copy; 2018</p>
</footer>
